footer {
  background: var(--main-color);
  color: white;
  padding: calc(var(--spacing-unit)*4) calc(var(--spacing-unit)*8);

  .title {
    text-align: center;
    font-size: 3rem;
    margin: calc(var(--spacing-unit)*4) 0;
  }

  .copyrights {
    text-align: center;

    a {
      text-decoration: none;
      color: white;
    }
  }
}